<article class="rule rule-<%= rule.type %>" id="<%= slug %>">
  <header class="rule-header">
    <h3><%= rule.title %></h3>
    <p><%= rule.description %></p>
  </header>
  <div class="rule-body">
    <%- rule.yield %>
  </div>
</article>
