<article class="rule rule-<%= type %>" id="<%= title%>">
  <header class="rule-header">
    <h3><%= title %></h3>
    <p><%= description %></p>
  </header>
  <div class="rule-body">
    <%- yield %>
  </div>
</article>
